* {
    box-sizing: border-box;
}

html {
    height: 100%;
    width: 100%;
}

body {
    margin: 0px;
    height: 100%;
}

.container {
    height: 100%;
}

nav {
    background-color: #318FC2;
    padding: 5px;
    overflow: hidden;
    line-height: 40px;
}

a {
    text-decoration: none;
}

.leftNav {
    margin-left: 100px;
    float: left;
}

.navChildren {
    float: left;
}

.favicon {
    height: 40px;
    width: 40px;
    margin-right: 5px;
}

.navRight {
    float: right;
    margin: 0px 100px 0px 0px;
}

.lineList {
    list-style: none;
    display: inline;
}

#mainSection {
    clear: both;
    margin: 75px;
    border: solid 2px black;
    overflow: hidden;
}

.mainLeft {
    float: left;
    position: relative;
    width: 70%;
    padding: 10px;
    border: solid 1px black;
}

.whyAwesome {
    margin: 5px;
}

.mobileInfo {
    position: relative;
    background-color: #BBD8C4;
    padding: 8px;
    overflow: hidden;
}

.containMobile {
    float: left;
    width: 80%;
}

.mobileImage {
    float: right;
    position: absolute;
    bottom: 20px;
    right: 50px;
    z-index: 99;
}

#mainRight {
    float: left;
    width: 20%;
    padding: 10px;
    border: solid 1px black;
}

#clickMe {
    width: 100%;
    height: 40px;
    background-color: #640360;
    color: white;
    margin-bottom: 20px;
}

.activeTab {
    float: left;
    position: relative;
    z-index: 50;
    background-color: #F5F5F5;
    border: none;
    padding: 10px;
    margin: 0px;
    cursor: pointer;
}

.passiveTab {
    float: left;
    position: relative;
    color: blue;
    background-color: #DEEBE1;
    border: none;
    padding: 10px;
    margin: 0px;
    cursor: pointer;
}

.activeDiv {
    clear: both;
    width: 100%;
    position: relative;
    z-index: 50;
    background-color: #F5F5F5;
    padding: 10px;

}
.passiveDiv{
    display: none;
}
p {
    margin: 0px;
}

button:focus{
    outline: 0;
}
.tabsHeader {
    margin: 0px 0px 2px 0px;
}

table {
    width: 100%;
    border-collapse: collapse;
}

.mobileFloat {
    margin: 3px;
}

.mobileHead {
    color: #640360;
}

.tLabel {
    font-size: 10px;
    padding: 5px;
    text-align: right;
    font-weight: normal;
}

.tRow:nth-child(even) {
    background-color: #DEEBE1;
}

.tRow:nth-child(odd) {
    background-color: #EEF5EE;
}

.tRow:first-child {
    font-weight: bolder;
}

.tRow {
    line-height: 35px;
}

.bankName {
    width: 40%;
}

.apy {
    width: 20%;
    text-align: right;
}

.earnings {
    width: 20%;
    text-align: right;
}

td {
    padding: 5px;
}

footer {
    clear: both;
    background-color: lightgray;
    line-height: 60px;
    vertical-align: text-top;
    overflow: hidden;
    width: 100%;
}